/* Regola comune CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Margini e Padding comuni */

.foot_box i {
  padding-bottom: 5px;
}

.foot_box span {
  font-size: 0.8rem;
  font-weight: 400;
}

.foot_icon {
  font-size: 2rem;
}

.foot_icon_sm {
  font-size: 0.8rem;
}

.float {
  float: right;
}

.float_l {
  position: relative;
  float: left;
}

.float_r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flex {
  display: flex;
}

.End {
  padding: 0px 15px 0px 15px;
  color: red;
}