/* Regola comune CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Margini e Padding comuni */

.pt_1 {
    padding-top: 1rem;
}

.pb_1 {
    padding-top: 1rem;
}

.pl_1 {
    padding-left: 1rem;
}

.pl_2 {
    padding-left: 2rem;
}

.pr_1 {
    padding-right: 1rem;
}

.pr_2 {
    padding-right: 2rem;
}

/* Margini */

.mt_1 {
    margin-top: 1rem;
}

.mb_1 {
    margin-bottom: 1rem;
}

.ml_1 {
    margin-left: 1rem;
}

.ml_2 {
    margin-left: 2rem;
}

.mr_1 {
    margin-right: 1rem;
}

.mr_2 {
    margin-right: 2rem;
}

.mr_0 {
    margin: auto;
}

/* Dimensione per le icone */

.icon_size {
    font-size: 1.5rem;
}

/* Proprietà Display flex */

.flex {
    display: flex;
    flex-direction: row;  
}

.center {
    justify-content: center;
    align-items: center;
}


/* Proprietà Float Right */

.row {
    width: 50px;
    height: 50px;
    background-color: rgb(81, 255, 0);
}

.col-30 {
    width: 30%;
    background-color: aqua;
}

.col-70 {
    width: 70%;
    background-color: blueviolet;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}