/* CONCLUSA */
/*#region Macroaree */

/* dimensioni principali delle macro aree */
:root {
  --FooterDim: 1440px;
  --HeaderDim: 1440px;
  --Header_Heigth: 5vh;
  --Footer_Heigth: 8vh;
  --MainDim: 100%;
  --Main_Heigth: calc(100vh - 13vh);
  --BodyWidth: 1440px;
  --Container_W: 1000px;
  --Container_H: 75vh;
}

/* Altezze e dimensioni delle MacroAree */

body {
  min-width: var(--BodyWidth);
  font-family: "Roboto", sans-serif;
}

nav {
  width: var(--HeaderDim);
  height: var(--Header_Heigth);
  font-size: 0.75rem;
}

header {
  background-color: var(--MainColor);
  height: var(--Header_Heigth);
}

main {
  min-width: var(--MainDim);
  height: var(--Main_Heigth);
  background-color: var(--MainColor);
}

footer {
  background-color: var(--FooterColor);
  min-width: var(--FooterDim);
  height: var(--Footer_Heigth);
}

.container {
  min-width: var(--Container_W);
  height: var(--Container_H);
}

/* Item interno a ogni colonna */

.img_text {
  font-weight: 200;
  width: 230px;
  height: calc(100% / 5);
  position: relative;
  margin-bottom: 10px;
  color: var(--Text_primary);
  font-size: 0.85rem;
}
/*#endregion */

/* CONCLUSA */
/*#region Palette colori */
:root {
  --MainColor: rgba(0, 0, 0, 1);
  --FooterColor: rgba(34, 34, 34, 1);
  --Text_primary: rgba(255, 255, 255, 1);
  --Text_secondary: #ff0026;
  --Text_Contain: rgba(107, 118, 127, 1);
  --Text_Success: rgba(75, 200, 0, 1);
}
/*#endregion */

/* CONCLUSA */
/*#region Proprietà flex  */

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.center_2 {
  justify-content: space-evenly;
  align-items: center;
}

.center_3 {
  align-items: center;
  justify-content: flex-start;
}

.item_column {
  padding-left: 10px;
  height: 100%;
  flex-direction: column;
}

.foot_item_left,
.foot_item_center,
.foot_item_right,
.foot_box {
  height: 100%;
  align-items: center;
}

.foot_item_left {
  width: max-content;
  justify-content: flex-start;
  column-gap: 5px;
}

.foot_item_center {
  width: max-content;
  justify-content: center;
  column-gap: 5px;
}

.foot_item_right {
  width: max-content;
  justify-content: center;
  background-color: var(--Text_Contain);
  column-gap: 5px;
}

.foot_box {
  padding: 0px 10px 0px 10px;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Text_primary);
}

/*#endregion */

/* CONCLUSA */
/*#region Proprietà Float */

/* Proprietà Float  */

.row {
  width: 200px;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
}

.col-20,
.col-75 {
  background-color: var(--Text_Contain);
  border-radius: 5px;
  color: var(--Text_primary);
  font-weight: 100px;
  width: max-content;
}
.col-20 {
  height: 60%;
}
.col-20 i {
  padding: 0px 5px 0px 5px;
}
.col-75 {
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  margin-left: 27%;
  padding: 0px 5px 0px 5px;
}
.col-75 div {
  padding-right: 5px;
}
.col-75 i {
  padding-left: 5px;
}

/*#endregion  */

/* CONCLUSA */
/*#region Regole immagini e testo  */
/* Testo descrittivo interno a immagini incolonnate */

.desc {
  position: absolute;
  background-color: rgba(211, 211, 211, 0.4);
  width: max-content;
  height: 15%;
  bottom: 0%;
  left: 0%;
}
.img_text img {
  width: 100%;
  height: 100%;
}
.img_text i,
.img_text span {
    font-size: 0.9rem;
}
.img_text i {
  padding-left: 5px;
  padding-right: 5px;
}
.img_text span {
  padding-right: 10px;
  font-weight: 400;
}
/*#endregion */


